.header-img-faecher {
  background: url('../image/faecher/faecher-header-2.jpg');
  background-size: cover;
}

.faecher-title {
  div {
    margin: 50px 0 0 0;
  }
}

.content-faecher {
  .img-no-blur {

    img {
      position: absolute;
      width: 100%;
      @include box-shadow-css;
    }

    &:hover {
      img {
        width: 100%;
      }
    }
  }
}
