body {
  background-color: $base-bg-color;
  @include text-font-family;
}

h1,h2 {
  @include headline-font-family;
  font-weight: 300;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 18px;
}

p {
  @include text-font-family;
}

nav {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header {
  height: 60px;
  background: $color-white;;
  color: $color-blue;
  box-shadow: 0 2px 2px -2px $color-dark-gray;
}

.header-logo {
  @include make-sm-column(2);
  @include make-sm-column-offset(5);

  img {
    height: 80px;
    margin-top: -10px;
  }
}

.header-logo-small {
  @include make-sm-column(1);

  img {
    height: 80px;
    margin-top: -10px;
  }
}

.header-suche {
  @include make-md-column(4);
  @include make-md-column-offset(3);
}

/* Search Box */

.search-box {
  position: relative;
  height: 40px; /* Define the search box height and width here */
  width: 100%;
  margin-top: 10px;
}

.search-box .search-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 50px 0 10px; /* padding-right = button width */
  border: solid 1px $color-light-gray;
  border-radius: 3px;
  color: $color-light-black;
  outline: none;
  //box-shadow: 0px 0px 3px 2px $color-light-gray;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.search-box .search-input:focus {
  border-color: $color-dark-gray;
  box-shadow: 0px 0px 4px 2px $color-light-gray;
}

/* Placeholder */
.search-box .search-input::-webkit-input-placeholder { color: #bfbfbf; }
.search-box .search-input::-moz-placeholder          { color: #bfbfbf; opacity: 1; }
.search-box .search-input:-ms-input-placeholder      { color: #bfbfbf; }

/* Icon */
.search-box .search-icon {
  content: '';
  position: absolute;
  z-index: 0;
  top: 1px; /* Keep away */
  right: 1px; /* from */
  bottom: 1px; /* border */
  width: 50px;
  line-height: 38px; /* 40 - 1 - 1 */
  font-size: 20px;
  text-align: center;
  color: $color-dark-gray;
  transition: transform 0.2s ease;
}

/* Button */
.search-box .search-button {
  position: absolute;
  z-index: 1;
  top: -5px; /* using negative values, so that on touch */
  right: 1px;
  bottom: -5px; /* devices it would be easier to hit */
  width: 50px;
  border: none;
  overflow: hidden; /* Just to be sure */
  opacity: 0; /* hidden */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE8 */
}

.header-user {
  @include make-md-column(2);
  @include make-md-column-offset(2);

  width: 100%;
  padding: 0;
  margin-top: 20px;
  color: $color-dark-gray;

  button {
    background: none;
    border: none;

    &:hover {
      text-decoration: underline;
    }

    i {
      padding-right: 7px;
    }

    span {
      margin-left: 7px;
    }
  }

  .dropdown-menu {
    border-radius: 0;
  }

  .open>.btn-default.dropdown-toggle {

  }

  &:hover {
    color: $color-dark-gray;

    p {
      text-decoration: underline;
    }
  }
}

.navi {
  width: 100%;
  height: 40px;
  background-color: $color-white;
  border-top: solid 1px $color-light-gray;
  box-shadow: 0 2px 2px -2px  $color-dark-gray;

  ul {
    @include make-md-column(8);
    @include make-md-column-offset(2);
    padding-bottom: 10px;
    margin-bottom: 0;

    li {
      display: block;
      float: left;
      width: 20%;
      height: 40px;
      margin-bottom: 10px;

      a {
        display: block;
        height: 50px;
        padding-bottom: 10px;
        line-height: 36px;
        color: $color-dark-black;

        font-size: 16px;
        text-align: center;
      }

      &.active {
        background-color: $color-red;

        a {
          color: $color-white;
          background: transparent url("../image/triangle.png") center 38px no-repeat;

          &:hover {
          text-decoration: none;
          }
        }
      }
    }
  }
}

//Page Landingpage
.content-login {
  @include make-md-column(6);
  @include make-md-column-offset(3);

  padding: 120px 0 30px 0;
  text-align: center;

  p {
    padding-bottom: 20px;
  }
}

.empty-content {
  height: 300px;

  @media (min-width: $screen-md-min) {
    height: 370px;
  }
}

.content-login, .content-preis-collapse {
  button {
    @include make-xs-column(10);
    @include make-xs-column-offset(1);

    @include make-sm-column(6);
    @include make-sm-column-offset(3);

    @include make-md-column(4);
    @include make-md-column-offset(4);

    height: 35px;
    border: none;
    background: $color-red;
    color: $color-white;

    &:focus {
      outline: none;
    }
  }
}

.content-preis-collapse {
  @include make-md-column(12);

  .preis-detail {
    @include make-sm-column(3);
    padding: 0 0 20px 0;

    @media (min-width: $screen-md-min) {
      padding: 0;
    }

    margin: 30px 1%;
    border: solid 1px $color-light-gray;

    @media (min-width: $screen-md-min) {
      margin: 70px 1%;
    }

    &:first-child {
      margin-left: 0;

      @media (min-width: $screen-sm-min) {
        margin-left: 10.5%;
      }
    }

    ul {
      display: block;
      width: 100%;
      padding: 0;
      list-style: none;

      li {
        @include make-md-column(12);
        text-align: center;
        padding: 10px 0 ;
        color: $color-dark-gray;

        &:first-child {
          background: $color-light-black;

          h3, p {
            color: $color-white;
          }

          h3 {
            padding: 15px 0 5px;
          }

          p {
            padding: 0 0 15px;

            b {
              color: $color-dark-gray;
              font-weight: 300;
            }
          }
        }

        + li {
          padding-top: 20px;
        }

        &:last-child {
          padding-bottom: 20px;
        }

        button {
          @include make-md-column(10);
          @include make-md-column-offset(1);
        }
      }
    }
  }
}

.content-white-bg {
  background: $color-white;

}

.content-dark-bg {
  background-color: $second-bg-color;

  .dark-bg-foto {
    @include make-md-column(10);
    @include make-md-column-offset(1);

    img {
      width: 100%;
      margin: -250px auto 0;
    }

    @media (min-width: $screen-md-min) {
      img {
        margin: -340px auto 0;
      }
    }
  }

  .dark-bg-text {
    @include make-md-column(4);
    @include make-md-column-offset(4);

    text-align: center;
    color: $color-white;

    p {
      margin-top: 10px;
    }

    h2 {
      margin: 40px 0;
    }
  }

  .dark-bg-icon {
    @include make-md-column(2);

    padding-bottom: 40px;

    &:first-child {
      @include make-md-column-offset(1);
    }

    img {
      width: 102px;
      display: block;
      margin:auto;
    }

    h3, p {
      color: $color-white;
      text-align: center;
    }
  }
}

.content-intro {
  padding: 20px 0;

  &:first-child {
    padding-top:100px;
  }

  &:last-child {
    padding-bottom: 100px;
  }

  .content-intro-img {
    @include make-sm-column(6);

    img {
      display: block;
      width: 300px;
      margin: auto;
    }
  }

  .content-intro-text {
    @include make-sm-column(6);

    height: 300px;
    padding: 75px 0;
  }
}

// Styling Checkbox
input[type='checkbox'] {
  position: relative;
  left: -999em;
}

input[type='checkbox'] + span.checkbox-target:after {
  margin-left: -10px;
  font-family: FontAwesome;
  content: "\f096";
}

input[type='checkbox']:checked + span.checkbox-target:after {
  margin-left: -10px;
  font-family: FontAwesome;
  content: "\f046";
}

//Page Trefferlist
.content-trefferliste {
  margin-top: 120px;

  .title {
    @include make-md-column(12);
  }

  .trefferliste-filter {
    @include make-md-column(12);
    margin-top: 10px;
    font-weight: 300;
  }

  button {
    @include make-md-column(2);

    padding: 0;
    margin-left: 0;
    border: 0;
    background: none;
    text-align: left;

    span {
      margin-top: -1px;
    }
  }

  .dropdown-menu {
    top: 20px;
    padding: 5px 10px;
    margin-left: 14px;
    border-radius: 0;

    a {
      padding: 5px 0;
      font-weight: 300;
    }
  }

  button, .trefferliste-checkbox {
    display: block;
    float: left;
  }

  span.trefferliste-checkbox {
    @include make-md-column(2);

    label {
      @include text-font-family;
      font-weight: 300;
    }
  }



  .trefferlist-display-switch {
    @include make-md-column(2);
    @include make-md-column-offset(4);
    margin-top: -18px;

    ul {
      display: block;
      float: right;
      height: 35px;
      list-style-type: none;

      li {
        display: block;
        float:left;
      	width:44px;
      	height:36px;

        background-image: url(../image/switch-button.png);
      	border: solid 1px $color-light-gray;
        box-shadow: 0px 0px 5px 0px $color-light-gray;
      }

      #switch-button-1 {
        background-position-x: -2px;
      }

      #switch-button-2 {
        background-position-x: -47px;
      }
    }

    ul .turnon{
    	background-position-y: -36px;
    }
  }
}

.content-wrapper {

  //display with box
  .display-1 dd {
    @include make-md-column(4);
    height: 289px;
    margin: 15px 0;

    .content-detail {
      position: relative;
      background: $color-white;
      box-shadow: 0 0 2px 0 darken($color-light-gray, 10);

      .content-title {
        display: block;
        height: 50px;
        padding-left: 25px;
        line-height: 50px;
        font-size: 16px;
        z-index: 200px;

        a {
          color: $color-dark-black;
        }
      }

      .content-img-beschreibung {
        img {
          position: absolute;
          width: 100%;
          box-shadow: 0 0 2px 0 darken($color-light-gray, 10);
          z-index: -100;
        }

        &:hover {
          .content-beschreibung {
            display: block;
          }
        }
      }

      .content-beschreibung {
        display: none;
        position: absolute;
        height: 150px;
        top: 138px;
        font-size: 14px;
        font-weight: 300;
        z-index: 200px;
        background: $color-tra-white;

        p {
          display: block;
          padding: 5px 25px;

          a {
            color: $color-light-black;
          }
        }

        .star-share {
          display: block;
          float: right;
          padding: 0 25px 10px;

          a {
            display: block;
            float: left;
            margin-left: 10px;
            color: $color-dark-gray;

            &:hover {
              color: $color-light-black;
            }
          }
        }
      }
    }
  }

  //display with list
  .display-2 dd {
    @include make-md-column(12);
    height: 120px;
    margin-bottom: 40px;

    .content-detail {
      position: relative;
      height: 120px;
      background: $color-white;
      box-shadow: 0 0 2px 0 darken($color-light-gray, 10);

      .content-title {
        @include make-md-column(10);
        @include make-md-column-offset(2);

        a {
          display: block;
          height: 40px;
          line-height: 50px;
          color: $color-dark-black;
        }
      }

      .content-img-beschreibung {
        img {
          @include make-md-column(2);
          display: block;
          float: left;
          margin-top: -33px;
        }

        .content-beschreibung {
          @include make-md-column(10);
          display: block;
          float: left;
          font-weight: 300;

          a {
            color: $color-dark-black;
          }

          .star-share {
            a {
              color: $color-dark-gray;

              &:hover {
                color: $color-light-black;
              }
            }
          }
        }
      }
    }
  }
}

//Page Anmelden
.content-login-img, .content-login-form{
  @include make-sm-column(4);

  margin-top: 90px;
}

.content-login-img {
  @include make-sm-column-offset(1);

  padding: 50px;
}

.content-login-form {
  @include make-sm-column-offset(2);

  display: block;

  @media (min-width: $screen-md-min) {
    padding: 125px 0;
  }


  h1, p {
    @include make-sm-column(12);
    @include make-md-column(6);
    padding-left: 0;
  }

  h1+ p {
    margin-top: 31px;
  }

  input {
    @include make-sm-column(12);
    height: 35px;
    padding: 0 5px;
    margin: 10px auto 5px;
    border: solid 1px $color-dark-gray;
    background: $base-bg-color;

    &:focus {
      outline: none;
    }
  }

  .login-checkbox {
    @include make-sm-column(12);
    @include make-md-column(6);

    height: 35px;
    padding: 0;

    label {
      height: 35px;
      margin-top: -30px;
    }
  }

  .login-button {
    @include make-sm-column(12);
    @include make-md-column(6);

    height: 35px;
    margin-top: 10px;
    border: none;
    background: $color-red;
    color: $color-white;

    &:focus {
      outline: none;
    }
  }

  .login-reset {
    @include make-sm-column(12);
    padding: 20px 0 0 0;
  }
}

.footer {
  height: 200px;
}
