.header-img-faecher {
  background: url('../image/faecher/faecher-header-2.jpg');
  background-size: cover;
}

.faecher-title {
  div {
    margin: 50px 0 0 0;
  }
}

.content-faecher .content-wrapper .content-smallbox dd .content-detail .content-beschreibung {
  width: 100%;
  padding: 19% 25%;

  a {
    color: $color-dark-gray;
    float: none;
    text-align: center;

    i {
      font-size: 45px;
    }
  }
}
