.header-img-themengebiete {
  height: 207px;
  background-color: $color-light-black;

  .header-img-row {
    .img-row {
      max-width: 100%;
      overflow: hidden;
      overflow-x: scroll;
    }

    ul {
      display: block;
      width: 800%;
      padding: 20px 20px;
      list-style: none;

      @media (min-width: $screen-md-min) {
        width: 400%;
      }

      @media (min-width: $screen-lg-min) {
        width: 300%;
      }
    }

    img {
      display: block;
      margin: 0;
      width: 100%;
    }

    li {
      float: left;
      width: 210px;
      margin: 0 10px;
    }
  }
}

.content-themengebiete {
  margin-top: 40px;
}

.themengebiete-filterbar {
    padding-top: 18px;
}

.page-themengebiete .content-wrapper .display-2 dd .content-detail {
    height: 130px;
}

.themengebiet-title {
    padding: 5px 5px 5px 10px;
    margin: 0;
}


.la-pill {
    float: right;
    margin-right: 15px;

    span {
        background-color: $color-red;
        color: white;
        padding: 2px 8px;
        border-radius: 15px;
    }
}

a.themengebiet {
    color: #000;
    background-color: #fff;
    display: block;
}
