.header-img {
  margin-top: 100px;

  .container {
    height: 212px;
  }
}

.header-img-gruppen {
  background: url("../image/gruppen/gruppen-header.jpg");
  background-size: cover;
}

.content-suche {
  @include make-md-column(8);
  @include make-md-column-offset(2);

  margin: 35px 0 0;
}

.content-wrapper {

  .content-smallbox dd{
    @include make-md-column(3);
    height: 275px;
    margin: 15px 0;

    @media (min-width: $screen-md-min) {
      height: 185px;
    }

    @media (min-width: $screen-lg-min) {
      height: 219px;
    }

    .content-detail {

      .content-title {
        height: 40px;
        padding-left: 25px;
        font-size: 14px;
        line-height: 40px;

        i {
          display: block;
          float: right;
          padding-right: 10px;
          line-height: 40px;

          &:before {
            padding-right: 2px;
          }
        }
      }

      .content-beschreibung {
        width: 100%;
        height: 235px;
        top: 40px;
        padding: 60px 40px;

        a {
          display: block;
          padding-top: 15px;
          float: right;
        }

        @media (min-width: $screen-md-min) {
          height: 145px;
          padding: 30px 15px;
        }

        @media (min-width: $screen-lg-min) {
          height: 180px;
          padding: 40px;
        }
      }
    }
  }
}

.content-mehr {
  height: 100px;
  padding: 30px 0;
  text-align: center;

  i {
    font-size: 30px;
  }
}
