//color
$color-red: #D42A19;
$color-pink: #CF6363;
$color-orange: #D99157;
$color-yellow: #DBBE56;
$color-green: #9ABF97;
$color-blue: #73ADBF;

$color-dark-gray: #999999;
$color-light-gray: #E9E9E9;
$color-dark-black: #212121;
$color-light-black: #3F3F3F;
$color-white: #FFFFFF;
$color-dark-white: #F2F2F2;

$color-tra-white: rgba(255,255,255, 0.9);
$color-tra-white-2: rgba(255,255,255, 0.3);

$base-bg-color: $color-dark-white;
$second-bg-color: $color-light-black;

//font
@mixin headline-font-family {
  font-family: 'Cabin', sans-serif;
}

@mixin text-font-family {
  font-family: 'Lato', sans-serif;
}

@mixin content-title-style {
  display: block;
  height: 50px;
  padding-left: 25px;
  line-height: 50px;
  font-size: 14px;
  z-index: 200px;

  a {
    color: $color-dark-black;
  }
}

@mixin box-shadow-css {
  box-shadow: 0 0 2px 0 darken($color-light-gray, 10);
}

@mixin grid-box {
  .content-detail {
    position: relative;
    background: $color-white;
    @include box-shadow-css;

    .content-title {
      @include content-title-style;
    }

    .content-img-beschreibung {
      img {
        position: absolute;
        width: 100%;
        box-shadow: 0 0 2px 0 darken($color-light-gray, 10);
      }

      &:hover {
        img {
          width: 100%;
        }

        .content-beschreibung {
          display: block;
        }
      }
    }

    .content-beschreibung {
      display: none;
      position: absolute;
      width: 100%;
      height: 150px;
      top: 128px;
      padding: 25px 20px;
      font-size: 14px;
      font-weight: 300;
      z-index: 200px;
      background: $color-tra-white;

      @media (min-width: $screen-md-min) {
        height: 157px;
        top: 87px;
      }

      @media (min-width: $screen-lg-min) {
        height: 140px;
        top: 148px;
        padding: 15px 20px;
      }

      p {
        display: block;

        a {
          color: $color-light-black;
        }
      }

      .star-share {
        display: block;
        float: right;
        padding: 0 25px 10px;

        a {
          display: block;
          float: left;
          margin-left: 10px;
          color: $color-dark-gray;

          &:hover {
            color: $color-light-black;
          }

          i:before {
            padding-right: 2px;
          }
        }
      }
    }

    .content-themengebiet {
      height: 160px;
      top: 115px;

      @media (min-width: $screen-md-min) {
        height: 191px;
        top: 50px;
      }

      @media (min-width: $screen-lg-min) {
        height: 160px;
        top: 125px;
        padding: 15px 20px;
      }
    }
  }
}

@mixin content-button {
  button {
    width: 100%;
    height: 35px;
    border: none;
    background: $color-red;
    color: $color-white;

    &:focus {
      outline: none;
    }
  }
}

@mixin content-chart-box-css {
  margin-bottom: 0;

  dd{
    @include make-xs-column(6);
    @include make-md-column(4);
    @include make-lg-column(3);
    height: 275px;
    margin: 15px 0;

    @media (min-width: $screen-md-min) {
      height: 244px;
    }

    @media (min-width: $screen-lg-min) {
      height: 219px;
    }

    .content-detail {
      position: relative;
      background: $color-white;
      @include box-shadow-css;

      .content-title {
        @include content-title-style;

        i {
          display: block;
          float: right;
          padding-right: 10px;
          line-height: 40px;

          &:before {
            padding-right: 2px;
          }
        }
      }

      .content-img-beschreibung {
        img {
          position: absolute;
          width: 100%;
          @include box-shadow-css;
        }

        &:hover {
          img {
            width: 100%;
            -webkit-filter: blur(1px);
  	        filter: blur(1px);
          }

          .content-beschreibung {
            display: block;
          }
        }
      }

      .content-beschreibung {
        //height: 235px;
        //top: 40px;
        //padding: 60px 20px;
        display: none;
        position: absolute;
        width: 100%;
        height: 220px;
        top: 50px;
        padding: 50px;
        font-size: 14px;
        font-weight: 300;
        z-index: 200px;
        background: $color-tra-white;

        a {
          display: block;
          padding-top: 15px;
          float: right;
        }

        @media (min-width: $screen-md-min) {
          width: 100%;
          height: 194px;
          top: 50px;
        }

        @media (min-width: $screen-lg-min) {
          width: 100%;
          height: 173px;
          top: 50px;
          padding: 40px;
        }

        p {
          display: block;
          margin-bottom: 0;

          a {
            color: $color-light-black;
          }
        }

        .star-share {
          display: block;
          float: right;
          padding: 0 0 10px;

          a {
            display: block;
            float: left;
            padding-top: 5px;
            margin-left: 10px;
            color: $color-dark-gray;

            &:hover {
              color: $color-light-black;
            }

            i:before {
              //padding-right: 2px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
